body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 1600px;
  display: flex;
  justify-content: space-between;
}

.editor-from {
  flex: 1;
  /* width: 600px; */
  /* height: 400px;
  overflow: scroll; */
}

.editor-to {
  flex: 1;
  /* width: 600px; */
  /* height: 400px;
  overflow: scroll; */
}

img {
  max-width: 100%;
}
